.footerMain {
  /* padding: 2rem 1rem;
  background-image: linear-gradient(to right, black, #137f0b, black);
  color: #d4af37;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between; */
  /* .mail a {
    text-decoration: none;
    color: #aaa9a9;
  } */
}
